
<div class="masthead">
<div class="language-nav">
<a><b>CSS</b></a><a>HTML</a> <a>Javascript</a> <a>Ruby</a>
</div>
<img src="assets/AA_Times_Logo.png" alt="">

<div class='masthead-links'>
<div id="date">Tuesday, October 18, 2016</div>
<div><a>Today’s Paper</a></div>
<div><a>Video</a></div>
<div>77°F</div>
<div><strong>AAO +100%</strong></div>
</div>